.circular-indicator-bar {
  stroke: #0000ee;
  stroke-width: 5px;
}

.circular-indicator-background {
  stroke: #cccccc;
  stroke-width: 5px;
}

.circular-indicator-value {
  fill: #000000d9;
  font: bold 22px "Roboto Condensed", sans-serif;
}

.circular-indicator-title {
  fill: #0000008c;
  font: 10px "Roboto Condensed", sans-serif;
}
