@import url("../assets/fonts.css");

.fuel-indicator-background {
  stroke: #dddddd;
  stroke-width: 24px;
}

.fuel-indicator-bar {
  stroke: blueviolet;
  stroke-width: 24px;
  transition: stroke-dasharray 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
}

.fuel-indicator-mark {
  stroke-width: 0.8px;
  stroke-linecap: butt;
}

.fuel-indicator-mark_ext {
  stroke: #606060;
}

.fuel-indicator-mark_int {
  stroke: #606060;
}

.fuel-indicator-markstep {
  stroke: #606060;
  stroke-width: 1px;
  stroke-linecap: butt;
}

.fuel-indicator-marklabel {
  fill: #0000008c;
  font: 6px "Roboto Condensed", sans-serif;
}

.fuel-indicator-arrow {
  fill: #ff0000;
  stroke: #606060;
  stroke-width: 0.5px;
  transition: transform 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
}

.fuel-indicator-arrowpin {
  fill: #ff0000;
  stroke: #000000;
  stroke-width: 0.5px;
}

.fuel-indicator-value {
  fill: #000000d9;
  font: bold 14px "Roboto Condensed", sans-serif;
}

.fuel-indicator-title {
  fill: #0000008c;
  font: 10px "Roboto Condensed", sans-serif;
}
