.linear-indicator-bar {
  fill: #ff0000;
}

.linear-indicator-background {
  fill: #cccccc;
}

.linear-indicator-mark {
  stroke: #606060;
  stroke-width: 0.6px;
  stroke-linecap: butt;
}

.linear-indicator-markstep {
  stroke: #606060;
  stroke-width: 1px;
  stroke-linecap: square;
}

.linear-indicator-marklabel {
  fill: #0000008c;
  font: 10px "Roboto Condensed", sans-serif;
}

.linear-indicator-value {
  fill: #000000d9;
  font: bold 14px "Roboto Condensed", sans-serif;
}

.linear-indicator-title {
  fill: #0000008c;
  font: 10px "Roboto Condensed", sans-serif;
}
