.progress-indicator-bar {
  fill: #008f00;
  transition: width 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
}

.progress-indicator-background {
  fill: #cccccc;
}

.progress-indicator-value {
  fill: #000000d9;
  font: bold 10px "Roboto Condensed", sans-serif;
}

.progress-indicator-title {
  fill: #0000008c;
  font: 8px "Roboto Condensed", sans-serif;
}
