.simple-indicator-pie {
  fill: #ffff00;
}

.simple-indicator-labels {
  fill: #606060;
  font: 10px "Roboto Condensed", sans-serif;
}

.simple-indicator-mark {
  stroke: #606060;
  stroke-width: 2px;
  stroke-linejoin: miter;
}

.simple-indicator-arrow {
  fill: #ffffff;
  stroke: #606060;
  stroke-width: 2px;
  stroke-linejoin: miter;
  transition: transform 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
}

.simple-indicator-value {
  fill: #000000d9;
  font: bold 14px "Roboto Condensed", sans-serif;
}

.simple-indicator-title {
  fill: #0000008c;
  font: 10px "Roboto Condensed", sans-serif;
}
