.space-indicator-bar {
  stroke: #c93636;
  stroke-width: 12px;
  transition: stroke-dasharray 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
}

.space-indicator-background {
  stroke: #c0c0c0;
  stroke-width: 12px;
}

.space-indicator-value {
  fill: #000000d9;
  font: bold 22px "Roboto Condensed", sans-serif;
}

.space-indicator-title {
  fill: #0000008c;
  font: 12px "Roboto Condensed", sans-serif;
}
