/* .myh-input-card .ant-card-body {
  padding: 12px 12px 0px 12px;
}

.myh-input-card .ant-card-head-title {
  padding: 4px 0 4px 0;
}
.myh-input-card .ant-card-head {
  min-height: 24px;
  border-bottom: none;
  font-size: 14px;
  color: #6d6d6d;
}
 */
.myh-input-card .ant-input {
  font-size: 24px;
  font-weight: 600;
}
