.myhAppHeader-title {
  color: white;
  font-size: 150%;
}

.myhConnectionStatus-label {
  color: darkgray;
  margin-right: 8px;
}
.myhConnectionStatus-icon {
  font-size: 140%;
}

.myhMainLayout {
  margin-top: 64px;
  min-height: calc(100vh - 64px);
}

.myhAppContent {
  padding: 24px;
}

.myhAppContent-panel {
  padding: 24px;
}

.myh-card {
  height: 100%;
}

.myh-card .myh-value {
  font-size: 200%;
  font-weight: 800;
}

.myh-card .myh-value-padding {
  padding: 4px 11px;
}

.myh-class_alignright {
  text-align: right;
}
